name: Build and Deploy to Hostinger

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build project
        run: |
          VERSION="0.1.${{ github.run_number }}-${GITHUB_SHA::7}"
          VITE_APP_VERSION=$VERSION npm run build

      - name: Deploy build to branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./dist
          publish_branch: build
          github_token: ${{ secrets.GITHUB_TOKEN }}
